<% include ../partials/boilerplate %>

<div class="main">

  <div class='fighters'>

    <div class='fighterImg'>
      <img src="<%= fighter1.left_full_body_image %>" alt="">
    </div>

      <div class='fighter1'>
        <div class='totalName'>
          <% name1 = fighter1.first_name +' '+ fighter1.last_name %>
          <h1 id='name'><%= name1 %></h1>
          <h3 class="nickname">"<%= fighter1.nickname %>"</h3>
        </div>
        <h2 class="weightclass"><%= fighter1.weight_class %></h2>
        <h2 class="record">Record</h2>
        <h3>Wins: <%= fighter1.wins %></h3>
        <h3>Losses: <%= fighter1.losses %></h3>
        <h3>Draws: <%= fighter1.draws %></h3>
      </div>

      <div class='fighter2'>
        <div class='totalName'>
          <% name2 = fighter2.first_name +' '+ fighter2.last_name %>
          <h1 id='name'><%= name2 %></h1>
          <h3 class="nickname">"<%= fighter2.nickname %>"</h3>
        </div>
        <h2 class="weightclass"><%= fighter1.weight_class %></h2>
        <h2 class="record">Record</h2>
        <h3>Wins: <%= fighter1.wins %></h3>
        <h3>Losses: <%= fighter1.losses %></h3>
        <h3>Draws: <%= fighter1.draws %></h3>
      </div>

    <div class='fighterImg'>
      <img src="<%= fighter2.right_full_body_image %>" alt="">
    </div>

  </div>

</div>
  <!-- <form method='POST' action='/'>
    <input id="back" type="submit" value="Back">
  </form> -->

<% include ../partials/end %>
