<% include ../partials/boilerplate %>

<div class="main">

  <div class='fighters'>

    <div class='fighterImg'>
      <img src="<%= fighter1.left_full_body_image %>" alt="">
    </div>

      <div class='fighter1'>

        <% name1 = fighter1.first_name +' '+ fighter1.last_name %>
        <h1 class='name'><%= name1 %></h1>
        <h3 class="nickname">"<%= fighter1.nickname %>"</h3>
        <h2 class="weightclass"><%= fighter1.weight_class %></h2>
        <h2 class="record">Record</h2>
        <h3>Wins: <%= fighter1.wins %></h3>
        <h3>Losses: <%= fighter1.losses %></h3>
        <h3>Draws: <%= fighter1.draws %></h3>

        <% if(user) { %>
          <form action='/user' method="POST">
            <input type="hidden" name=<%= name1 %> value=<%= name1 %> />
            <input type="hidden" name="id" value=<%= fighter1.id %> />
            <input class='add' type="submit" value="Add Fighter">
          </form>
        <% } %>

      </div>

      <div class='fighter2'>

        <% name2 = fighter2.first_name +' '+ fighter2.last_name %>
        <h1 class='name'><%= name2 %></h1>
        <h3 class="nickname">"<%= fighter2.nickname %>"</h3>
        <h2 class="weightclass"><%= fighter2.weight_class %></h2>
        <h2 class="record">Record</h2>
        <h3>Wins: <%= fighter2.wins %></h3>
        <h3>Losses: <%= fighter2.losses %></h3>
        <h3>Draws: <%= fighter2.draws %></h3>

        <% if(user) { %>
          <form action='/user' method="POST">
            <input type="hidden" name="name" value=<%= name2 %> />
            <input type="hidden" name="id" value=<%= fighter2.id %> />
            <input class='add' type="submit" value="Add Fighter">
          </form>
        <% } %>

      </div>


    <div class='fighterImg'>
      <img src="<%= fighter2.right_full_body_image %>" alt="">
    </div>

  </div>

  <% if(user) { %>
    <button class='back'><a href='/user'>Back</a></button>
  <% }else { %>
    <button class='back'><a href='/'>Back</a></button>
  <% } %>

</div>

<% include ../partials/end %>
