<% include ../partials/boilerplate %>

<div class='main'>

  <div id='first' class='fighters'>
    <div>
      <!-- fighter img -->
    </div>
    <div>
      <h2><%= fighter1.first_name %></h2>
      <!-- <h2 id='name'><%= fighter1.name %></h2> -->
      <!-- <h3><%= fighter1.weight_class %></h3>
      <h3><%= fighter1.weight %></h3>
      <h3><%= fighter1.height %></h3>
      <h1>Record</h1>
      <h3>Wins: <%= fighter1.wins.total %></h3>
      <h3>Losses: <%= fighter1.losses.total %></h3> -->
    </div>
  </div>

  <div id='second' class='fighters'>
    <div>
      <!-- fighter img -->
    </div>
    <div>
      <!-- <h2 id='name'><%= fighter2.name %></h2> -->
      <!-- <h3><%= fighter2.weight_class %></h3>
      <h3><%= fighter2.weight %></h3>
      <h3><%= fighter2.height %></h3>
      <h1>Record</h1>
      <h3>Wins: <%= fighter2.wins.total %></h3>
      <h3>Losses: <%= fighter2.losses.total %></h3> -->
    </div>

  </div>

  <!-- <form method='POST' action='/'>
    <input id="back" type="submit" value="Back">
  </form> -->

</div>

<% include ../partials/end %>
